.App {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper_container{
  height: 100vh;
  max-width: 375px;
  width: 100%;
  overflow-y: scroll;
  background-color: white;
}
